Python/DonutFactory3000/ServerSide/server_trace.log
Python/EviteServer/ServerSide/__pycache__/
Python/EviteServer/ServerSide/__pycache__/*.pyc
.vscode/
Python/EviteServer/.vscode/**

Java/Test/Main.java
